/* 로그인, 아이디, 비밀번호 찾기 폼 */
.divContainer {
  height: 100%;
  min-height: calc(100vh - 333.5px);
  padding: 4.5rem 1.8rem;
}
.divContainer h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0 0 4.4rem;
}
.divContainer form > div {
  display: block;
  margin-bottom: 2rem;
  color: #303030;
}
.divContainer form > div.checkboxGroup {
  display: flex;
  align-items: center;
}
.divContainer form > div > span:not(.addressWrap) {
  color: #d42c2c;
  font-size: 1.2rem;
  margin-top: 1rem;
  display: none;
}
.divContainer form > div > span.req {
  display: block;
}
.divContainer form > span {
  font-size: 1.4rem;
  color: #282828;
}
.divContainer form > div > label {
  font-size: 1.6rem;
  font-weight: 200;
}
.loginButton,
.findIdButton,
.findPwButton,
.kakaoLoginButton,
.nonmemberButton {
  background-color: #282828;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.8rem 1.2rem;
  border: none;
  border-radius: unset;
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
}
.kakaoLoginButton {
  margin-top: 0.8rem;
  background-color: gold;
  color: #282828;
}
.checkboxGroup {
  margin: 2rem 0;
}
.divContainer form > div.checkboxGroup > label {
  font-size: 1.4rem;
  padding-left: 0.4rem;
}
.divContainer form > div.linkGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.6rem;
}
.linkGroup a {
  display: block;
  font-size: 1.2rem;
  color: #303030;
  text-decoration: none;
}

.linkGroup a:hover {
  text-decoration: underline;
}

.inputField {
  width: 100%;
  padding: 1.6rem 1.2rem;
  margin-top: 0.8rem;
  box-sizing: border-box;
  border-radius: unset;
  font-size: 1.4rem;
  border: 1px solid #858585;
}
.divContainer form > a {
  display: block;
  margin: 0.8rem 0 4rem;
  text-decoration: none;
  text-align: center;
  color: #282828;
  font-size: 1.6rem;
  padding: 1.8rem 1.2rem;
  border: 1px solid #8e8e8e;
  border-radius: unset;
  cursor: pointer;
}
/* 회원가입 */
.addressWrap {
  display: flex;
  align-items: center;
}
.addressButton {
  height: 100%;
  width: 13rem;
  background-color: #282828;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.6rem 1.2rem;
  border: none;
  border-radius: unset;
  margin: 0.8rem 0 0 0.8rem;
}
.agreement {
  margin-top: 2rem;
}
.agreeTit {
  display: flex;
  align-items: center;
}
.divContainer h3.agreementTit {
  margin: 5.4rem 0 3rem;
}
.agreeTit > label {
  font-size: 1.6rem;
  font-weight: 300;
  margin-left: 0.8rem;
}
.agreeConts {
  width: calc(100% - 3.6rem);
  height: 12rem;
  padding: 1.6rem;
  margin-top: 1.8rem;
  border: 1px solid #858585;
  overflow-y: scroll;
}
.agreeConts > p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  .divContainer {
    height: 100%;
    min-height: calc(100vh - 283px);
    padding: 4rem 1.4rem;
  }
  .divContainer h3 {
    font-size: 2rem;
  }
  .inputField {
    padding: 1.4rem 1rem;
  }
  .loginButton,
  .findIdButton,
  .findPwButton,
  .kakaoLoginButton,
  .nonmemberButton,
  .divContainer form > a {
    font-size: 1.4rem;
    padding: 1.6rem 1rem;
  }
}
