footer {
  margin: 0 auto;
  background-color: #282828;
  max-width: 650px;
  min-width: 340px;
  position: relative;
  color: #f5f5f5;
}
.footer-inner {
  width: calc(100% - 36px);
  padding: 2.6rem 18px;
  text-align: center;
}
.footer-inner h3 {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
.footer-inner p {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 0.4rem;
  color: #d6d6d6;
}
.footer-links a {
  font-size: 1.2rem;
  font-weight: 200;
  text-decoration: none;
  color: #d6d6d6;
}
@media (max-width: 600px) {
  .footer-inner {
    width: calc(100% - 28px);
    padding: 2.6rem 14px;
    text-align: center;
  }
}
