html,
body {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #1a1a1a;
  color: #303030;

  font-family: "Pretendard", sans-serif;
}
#__next {
  overflow: hidden;
}
main {
  margin: 0 auto;
  margin-top: 75px;
  background-color: #fff;
  height: 100%;
  max-width: 650px;
  min-width: 340px;
  position: relative;
}
main::before {
  content: "";
  width: 1000px;
  height: 150%;
  position: absolute;
  top: -75px;
  right: -1000px;
  background: #1a1a1a;
  z-index: 99999;
}
main::after {
  content: "";
  width: 1000px;
  height: 150%;
  position: absolute;
  top: -75px;
  left: -1000px;
  background: #1a1a1a;
  z-index: 99999;
}
main section {
  width: 100%;
}

/* 메인 큐레이션 배너 */
.inner-wrap.n1 {
  display: block;
  width: 100%;
  height: 75rem;
  position: relative;
}
.main-ban-wrap {
  width: 100%;
  height: 100%;
}
.main-ban-wrap .curation_ban {
  display: block;
  width: 100%;
  height: 100%;
}
.main-ban-wrap .curation_ban img {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-ban-wrap .curation_ban::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.main-txt-wrap {
  position: absolute;
  bottom: 8%;
  padding: 0 3rem;
  width: calc(100% - 6rem);
  z-index: 2;
}
.title-main {
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  margin: 0 0 1.4rem;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.095);
}
.title-sub {
  text-align: left;
  margin: 0 0 3rem;
  font-size: 1.8rem;
  color: #fff;
}
.title-writer {
  font-size: 1.4rem;
  color: #e5e5e5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-writer span {
  display: block;
}
.title-writer span img {
  width: 3.3rem;
  height: auto;
}
/* 메인 선물 추천 카테고리 */
section.section02,
section.section03,
section.section04,
section.section05,
section.section06 {
  width: calc(100% - 3.6rem);
  margin: 0 auto;
  padding: 3.2rem 1.8rem 4rem;
}
.section-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 3rem;
}
.section-tit a {
  text-decoration: none;
  font-size: 3.8rem;
  font-weight: 200;
  display: block;
  color: #020202;
}
section h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
section.section02 ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}
section.section02 ul li {
  width: 100%;
  padding-top: 100%; /* 넓이에 따라 높이가 결정됩니다 */

  color: #e5e5e5;
  font-size: 1.8rem;
  text-align: center;
  position: relative; /* 내부 콘텐츠 위치 조정을 위함 */
  border-radius: 50%;
  overflow: hidden;
}
section.section02 ul li.n1 {
  background: url(/images/gift0.jpg) no-repeat center/cover;
}
section.section02 ul li.n2 {
  background: url(/images/gift1.jpg) no-repeat center/cover;
}
section.section02 ul li.n3 {
  background: url(/images/gift2.jpg) no-repeat center/cover;
}
section.section02 ul li.n4 {
  background: url(/images/gift3.jpg) no-repeat center/cover;
}
section.section02 ul li > a {
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.095);
}
section.section02 ul li > a:hover {
  background: #020202;
}
/* 상품 리스트 */

.cont-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  row-gap: 3.4rem;
}
.cont-wrap .cont {
  width: 100%;
  height: 100%;
  /* background-color: #f5f5f5; */
  position: relative;
}
.cont-wrap .cont a {
  text-decoration: none;
  color: #020202;
}
.cont-wrap .cont-img {
  width: 100%;
  height: 65%;
  background: #ccc;
}
.cont-wrap .cont p.like-btn {
  position: absolute;
  margin: 0;
  top: 1.4rem;
  right: 1.4rem;
  width: 3.2rem;
  height: 3.2rem;
}
.cont-wrap .cont p.like-btn img {
  width: 100%;
  height: 100%;
}
.cont-wrap .cont p.like-btn img.like-e {
  opacity: 0.65;
}
.cont-wrap .cont p.like-btn img.like-f {
  display: none;
}
.cont-wrap .cont p.like-btn.active img.like-f {
  display: block;
}
.cont-wrap .cont p.like-btn.active img.like-e {
  display: none;
}
.cont-wrap .cont-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cont-wrap .cont-txt {
  margin-top: 2.4rem;
}
.cont-wrap .cont-txt .prd-brand {
  color: #7a7a7a;
  font-size: 1.4rem;
}
.cont-wrap .cont-txt .prd-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1.2rem 0 1.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
}
.cont-wrap .cont-txt .prd-price {
  font-size: 1.6rem;
  display: flex;
  align-items: baseline;
  margin: 0.5rem 0 1rem;
}
.cont-wrap .cont-txt .prd-price strong {
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 0.2rem;
}
/* 중간 배너 */
.banner {
  margin-top: 3rem;
}
.banner .ban-wrap a {
  display: block;
  width: 100%;
  position: relative;
}
.banner .ban-wrap a img {
  width: 100%;
  height: auto;
}
.banner .ban-wrap:nth-child(2) {
  margin-top: 2rem;
}
.banner .ban-wrap a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(1px); */
}
.banner .ban-wrap .ban-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .ban-wrap .ban-txt img {
  width: 20rem;
  height: auto;
}
.banner .ban-wrap:first-child .ban-txt img {
  width: 28rem;
}
.banner .ban-wrap .ban-txt span {
  display: block;
  margin-top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #303030;
}
/* 브랜드 스토리 전하기 */
.brand-story {
  width: 100%;
}
.brand-story .story-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.brand-story .story-img img {
  width: 100%;
  height: 100%;
}
.brand-story .story-txt {
  margin: 2.6rem 0 1.6rem;
}
.brand-story .story-txt h4 {
  margin: 0 0 1.4rem;
  font-size: 2rem;
  font-weight: 500;
}
.brand-story .story-txt p {
  margin: 0 0 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: #303030;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand-story .story-prd {
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.brand-story .story-prd .story-prd-img {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}
.brand-story .story-prd .story-prd-img img {
  width: 100%;
  height: 100%;
}
.brand-story .cont-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brand-story .prd-brand {
  display: block;
  font-size: 1.4rem;
  margin: 0 0 1.4rem;
}
.brand-story .prd-name {
  font-size: 1.8rem;
  margin: 0 0 1rem;
}
.brand-story .prd-price {
  font-size: 1.6rem;
  margin: 0;
}
/* 스와이퍼 */
.cura-slide .swiper .swiper-slide {
  transform: scale(0.95);
  transition: all 0.3s;
  position: relative;
}
.cura-slide .swiper .swiper-slide > a {
  display: block;
  width: 100%;
  height: 100%;
}
.cura-slide .swiper .swiper-slide.swiper-slide-active {
  transform: scale(1);
  transition: all 0.3s;
}
.swiper .swiper-slide img {
  width: 100%;
}
.cura-slide .swiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}
.cura-slide .swiper .swiper-slide.swiper-slide-active::before {
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
}
.cura-slide .swiper .swiper-slide .cura-slide-txt {
  position: absolute;
  bottom: 10%;
  left: 3.6rem;
  opacity: 0.3;
}
.cura-slide .swiper .swiper-slide.swiper-slide-active .cura-slide-txt {
  opacity: 1;
}
.cura-slide-txt h4 {
  margin: 0 0 1rem 0;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.095);
  padding-right: 3.6rem;
  white-space: pre-wrap;
}
.cura-slide-txt p {
  font-size: 1.4rem;
  color: #e5e5e5;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.095);
}
.cura-slide-txt p strong {
  margin-right: 0.5rem;
}
.swiper-button-prev:after {
  display: none;
}
.cura-wrap .swiper-button-next {
  width: 4.2rem;
}
.cura-wrap .swiper-button-next:after {
  background: url(/images/icon_arrow_ban.png) no-repeat center / cover;
  color: transparent;
  width: 100%;
  height: 100%;
}
/* 뒤로가기 버튼 */
a.back {
  display: block;
  width: 3rem;
  padding: 2rem 1.8rem 0;
}
a.back img {
  width: 100%;
  height: auto;
}
/* .top-btn-wrap {
  position: relative;
  max-width: 650px;
  min-width: 340px;
  margin: 0 auto;
  background: red;
} */
.top-btn {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  background-color: #202020;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  z-index: 99999;
  left: 50%;
}
