header {
  margin: 0 auto;
  background-color: #fff;
  height: 65px;
  max-width: 650px;
  min-width: 340px;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 5;
}
header .header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}
.header-inner .left .logo-wrap {
  display: block;
  width: 9rem;
  /* height: 100%; */
}
.header-inner .left .logo-wrap img {
  width: 100%;
  height: auto;
}
.header-inner .right {
  display: flex;
}
.header-inner .right a {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
.header-inner .right a + a {
  margin-left: 1.2rem;
}
.header-inner .right a img {
  width: 100%;
  height: 100%;
}
/* nav */
.nav-menu {
  margin: 0 auto;
  max-width: 650px;
  min-width: 340px;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  color: #020202;
  text-decoration: none;
  list-style: none;
  transition: all 0.8s;
  visibility: hidden;
}
.nav-menu.active {
  left: calc(50%);
  transform: translateX(-50%);
  transition: all 0.8s;
  visibility: visible;
}
.nav-menu a {
  color: #020202;
  text-decoration: none;
  list-style: none;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}
.nav-header a {
  font-size: 1.8rem;
  display: none;
}
.nav-header a.active {
  display: block;
}
.nav-body {
  height: 100%;
}
.nav-body .nav-banner {
  height: 18rem;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.nav-body .nav-tab li {
  font-size: 1.8rem;
  padding: 2rem 1.8rem;
  border-bottom: 1px solid #ccc;
}
.nav-body a.logout {
  font-size: 1.4rem;
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 1.8rem;
  padding: 0.8rem 2rem 0.8rem 0;
}
/* 햄버거 메뉴 버튼 */
.ham-btn {
  width: 32px;
  height: 22px;
  margin-left: 3.4rem;
  cursor: pointer;
  position: relative;
  z-index: 99999;
  transition: all 0.2s;
}
.ham-btn span {
  position: absolute;
  width: 100%;
  height: 2.2px;
  display: block;
  background-color: #020202;
  transition: all 0.2s;
}
.ham-btn span.h-01 {
  top: 0;
  left: 0;
}
.ham-btn span.h-01 {
  top: calc(50% - 1.15px);
  left: 0;
}
.ham-btn span.h-03 {
  bottom: 0;
  right: 0;
}
.ham-btn.active span.h-01 {
  transform: rotate(45deg);
}
.ham-btn.active span.h-02 {
  display: none;
}
.ham-btn.active span.h-03 {
  transform: rotate(-45deg);
  bottom: 45%;
}
@media (max-width: 600px) {
  .nav-header a {
    font-size: 1.6rem;
  }
  .nav-header {
    padding: 0px 14px;
  }
  .header-inner .left .logo-wrap {
    width: 7rem;
  }
  header .header-inner {
    padding: 0 14px;
  }
  .nav-body .nav-tab li {
    font-size: 1.4rem;
    padding: 1.6rem 1.4rem;
  }
  .ham-btn {
    width: 26px;
    height: 18px;
    margin-left: 3rem;
  }
  .header-inner .right a {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
  }
}
