.admin {
  max-width: 100%;
  width: 100%;
  min-height: calc(100vh - 166.75px);
  padding-bottom: 2rem;
}
.admin > section {
  margin: 0 auto;
  width: calc(100% - 3.6rem);
  padding: 0 1.8rem;
}
h3.adminTit,
.adminTxt h4 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 1.2rem;
  padding-top: 2rem;
}
a.back {
  display: block;
  width: 3rem;
  padding: 2rem 1.8rem 0;
}
a.back img {
  width: 100%;
  height: auto;
}
.adminUsers {
  margin-top: 3rem;
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  padding: 3rem 1.8rem;
  display: flex;
  align-items: center;
}
.profile {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-right: 2rem;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
}
.badge > span {
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #202020;
  padding: 0.6rem 1rem;
  margin-bottom: 1.4rem;
  color: #202020;
  display: none;
}
.badge > span.active {
  display: inline-block;
}
.userName {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.userName > strong {
  font-size: 2.2rem;
  margin-right: 0.2rem;
}
.email {
  font-size: 1.2rem;
}
.adminBtm {
  padding-top: 3rem;
}
.adminBtm ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.adminBtm ul > li {
  width: 100%;
  border: 1px solid #525252;
  padding: 2rem 0;
}
.adminBtm ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #202020;
}
.adminBtm .profileImg {
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
}
.adminBtm .profileImg img {
  width: 100%;
  height: 100%;
}
.adminBtm .adminMenu {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 0;
}
